<div class="notebooks_bar">
	<button class="new_notebook">&#65291; New Notebook</button>
	<form class="search">
		<% if(!AlwaysNote.titleSearch) { %>
		<input type="search" name="title" value="Find a Notebook">
		<% } else { %>
		<input type="search" name="title" value="<%= AlwaysNote.titleSearch %>">
		<% } %>
	</form>	
</div>

<% notebooks.each(function(notebook) { %>
	<div class="notebook_show" data-id="<%= notebook.id %>" id="nb<%= notebook.id%>">
		<div class="notebook_title" data-id="<%= notebook.id%>" 
			id="notebook<%= notebook.id%>">
			<%= notebook.escape("title") %>
		</div>
		<div class="num_notes">
			<%= notebook.attributes.notes.length %> Notes
		</div>
	</div>
<% }) %>