<% if(note) { %>
	<div class="title_bar">
		<div class="choose_notebook"><%= notebook.escape("title") %></div>
		<div class="add_tags_area">click to add tags</div>
		<div class="new_tag_area"></div>
		<div class="tags_area">
      <div class="tag_container">
  			<% if(note.get("tags").length > 0) {%>
  				<% note.get("tags").forEach( function(tag) { %>
  					<div class="note_tag"><%= tag.title %></div>
  				<% })%>
  			<% } %>
      </div>
		</div>
		<div class="delete">
			&#9003;
		</div>
	</div>
	<div class="status_bar">
		<%
			var updated = new Date(note.escape("updated_at"));
		   	var created = new Date(note.escape("created_at")); 
	    %>
		<div class="note_created">
			Created: <%= created.toDateString().slice(4) %>	
		</div>
		<div class="note_updated">
			Updated: <%= updated.toDateString().slice(4) %>
		</div>
	</div>
	<div class="markup_bar">
	</div>

	<div class="note_area">
		<form class="note_title">
			<input type="text"  style="border:none" name="note[title]"
				value="<%= note.escape("title")%>" class="title">
		</form>
		<div class="note_body editable" data-button-class="all"><%= 
			note.get("body").replace(/&lt;input type='checkbox'&gt;/g, "<form class='todo'><input type='checkbox'></form>")
			%></div>
	</div>
<% } %>