<% if(note) { %>
	<div class="title_bar">
		<div class="choose_notebook"><%= notebook.escape("title") %></div>
		<div class="add_tags_area">click to add tags</div>
		<div class="new_tag_area"></div>
		<div class="tags_area">
			<% if(note.get("tags").length > 0) {%>
				<% note.get("tags").forEach( function(tag) { %>
					<div class="note_tag"><%= tag.escape("title") %></div>
				<% })%>
			<% } %>
		</div>
	</div>
	<div class="status_bar">
		Created at: <%= note.escape("created_at") %> 
		Updated at: <%= note.escape("updated_at") %>
	</div>
	<div class="markup_bar">
	</div>

	<div class="note_area">
		<form class="note_title">
			<input type="text"  style="border:none" name="note[title]"
				value="<%= note.escape("title")%>" class="title">
		</form>
		<div class="note_body editable" data-button-class="all"><%= 
			note.get("body") 
			%></div>
	</div>
<% } %>